
        body { 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: rgb(255, 255, 255);
             min-height: 100vh;
        }

        /* NAVBAR */
        .navbar {
            position: absolute;
            top: 20px;
            right: 40px;
            background: rgb(243, 241, 241);
            padding: 10px 20px;
            border-radius: 5px;
        }

        .navbar a {
            text-decoration: none;
            margin: 0 15px;
            color: purple;
            font-weight: bold;
        }

        /* HEADER */
        .header {
            background: url("3.png") no-repeat center/cover;
            padding: 80px;
            color: rgb(255, 255, 255);
            text-align: left;
        }

        .header h1 {
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 3px;
        }

        /* TEAM SECTION */
        .team {
            display: flex;
            justify-content: space-around;
            padding: 50px 20px;
            background: url("3.png") no-repeat center/cover;
            flex-wrap: wrap;
        }

        .card {
            background: rgb(255, 255, 255);
            width: 180px;
            border-radius: 12px;
            padding: 20px;
            text-align: center;
            margin: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }

        .card img {
            width: 120px;
            height: 140px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .card h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .card p {
            font-size: 14px;
            color:rgb(109, 109, 109);
        }
        
    
        footer {
            text-align: center;
            background: rgb(0, 0, 0);
            padding: 5px;
            font-size: 12px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }