  body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background: rgb(6, 6, 6);
            color: rgb(245, 245, 245);
        }

        /* HEADER */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
        }

        .logo {
            font-size: 24px;
            color: rgb(255, 255, 2);
            font-weight: bold;
        }
        
       /* Navbar */
        nav a {
            margin-left: 40px;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 16px;
            background-color: rgb(243, 249, 255);
        }

        nav a:hover {
            text-decoration: underline;
        }

        /* MAIN SECTION */
        .container {
            display: flex;
            align-items: center;
            padding: 60px 80px;
        }

        .text-section {
            width: 45%;
        }

        .text-section h1 {
            font-size: 46px;
            color: rgb(242, 242, 9);
            font-family: cursive;
            margin-bottom: 20px;
        }

        .text-section p {
            color: rgb(230, 227, 227);
            line-height: 1.6;
            margin-bottom: 30px;
        }

        .image-section {
            width: 55%;
            position: relative;
            padding-left: 40px;
        }

        .image-section img {
            width: 100%;
            border-radius: 10px;
            border: 3px solid rgb(255, 255, 6);
        }

        
        .border-box {
            border: 2px solid rgb(250, 250, 5);
            margin: 60px;
            padding: 20px;
        }
        

        footer {
            text-align: center;
            background: rgba(47, 46, 46, 0);
            padding: 5px;
            font-size: 12px;
            position: fixed;
            bottom: 0;
            width: 100%;
        
        }    