body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", sans-serif;
        }

        body {
            background: url("2.png") no-repeat center/cover;
            min-height: 100vh;
        }

        /* Navbar */
        .navbar {
            background: rgb(255, 255, 255);
            padding: 10px 20px;
            width: fit-content;
            margin: 20px auto;
            border-radius: 4px;
        }

        .navbar a {
            text-decoration: none;
            color: rgb(122, 0, 122);
            margin: 0 15px;
            font-weight: 600;
        }

        /* Menu Heading */
        .menu-title {
            color: rgb(255, 255, 255);
            font-size: 60px;
            font-weight: bold;
            margin: 20px 40px;
        }

        /* Menu Container */
        .menu-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px 40px;
            flex-wrap: wrap;
        }

        /* Menu Card */
        .card {
            background: rgb(255, 255, 255);
            width: 180px;
            border-radius: 15px;
            text-align: center;
            padding: 15px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }

        .card img {
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card h3 {
            margin: 10px 0 5px;
        }

        .card p {
            font-size: 14px;
            color: rgb(7, 7, 7);
        }


        footer {
            text-align: center;
            background: rgb(20, 19, 19);
            padding: 5px;
            font-size: 12px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }